<a href="https://colab.research.google.com/github/ivanjob64/Nair_Proyecto/blob/main/RegresionLineal_ServiciosB%C3%A1sicos_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importar las librerias necesarias
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
# import seaborn as sns

%matplotlib inline

In [ ]:
mpl.style.use(['ggplot'])

In [ ]:
source_file="Archivo1.csv"
# Creamos un dataframe a partir del archivo csv descargado
df_servicios = pd.read_csv(source_file, sep=';',  encoding='latin-1')
#tama√±o de archivo
tamano_bytes = os.path.getsize(source_file)
tamano_mb = tamano_bytes / (1024 * 1024)
print(f"üìÅ Tama√±o del archivo: {tamano_mb:.2f} MB ({tamano_bytes:,} bytes)")
df_servicios.sample(5)

NameError: name 'pd' is not defined

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_servicios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5590161 entries, 0 to 5590160
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   √Ø¬ª¬øMonitorId        int64
 1   TransaccionId       object
 2   CodCliente          int64
 3   servicio            object
 4   mensaje             float64
 5   estado              int64
 6   respuesta           object
 7   FechaHoraConsumo    object
 8   FechaHoraRespuesta  object
 9   FechaInsercion      object
 10  intentos            int64
dtypes: float64(1), int64(4), object(6)
memory usage: 469.1+ MB

In [ ]:
df_servicios.isna().sum()

√Ø¬ª¬øMonitorId                0
TransaccionId               0
CodCliente                  0
servicio                    0
mensaje               5590161
estado                      0
respuesta                   0
FechaHoraConsumo            8
FechaHoraRespuesta          8
FechaInsercion              0
intentos                    0
dtype: int64

In [ ]:
#completar con valor 0 campo intentos que contienen valores nulos
df_servicios['intentos'] = df_servicios['intentos'].fillna(0)
df_servicios['intentos'] = df_servicios['intentos'].astype('int64')
df_servicios['intentos'].unique()

array([5, 1, 2, 4, 0, 3])

In [ ]:
df_servicios[df_servicios.isnull().any(axis=1)]

,√Ø¬ª¬øMonitorId,TransaccionId,CodCliente,servicio,mensaje,estado,respuesta,FechaHoraConsumo,FechaHoraRespuesta,FechaInsercion,intentos
0,608760,4be9d806-6250-45e7-884e-0f55a27e4c34,344112,DELAPAZ,NaN,2,Tiempo de espera agotado en la solicitud,NaN,NaN,2025-03-10 00:00:00.000,5
1,608763,78b0dd07-f672-4415-8fde-dbf4e6c70faf,301375,YPFB,NaN,2,Fallo en la infraestructura tecnol√É¬≥gica,NaN,NaN,2025-03-10 00:00:00.000,1
2,608765,e38d8b88-3533-4cc1-bb9d-0b80bca13f16,475338,CESSA,NaN,2,Ocurrio un problema con la base de datos,NaN,NaN,2025-03-10 00:00:00.000,2
3,643741,4e4d1517-5497-4329-b3a5-97c15a775fa3,237706,DELAPAZ,NaN,2,Tiempo de espera agotado en la solicitud,NaN,NaN,2024-04-23 00:00:00.000,5
4,643755,7fa2b600-ad7c-4822-9a83-059ebee99448,460331,EPSAS,NaN,2,Error al recuperar la informaci√É¬≥n,NaN,NaN,2024-04-23 00:00:00.000,5
...,...,...,...,...,...,...,...,...,...,...,...
5590156,555556,57ac6178-8f22-4bf6-88b5-ef511392ea6e,455306,CRE,NaN,2,No se pudo establecer comunicaci√É¬≥n con el sis...,2025-10-05 13:52:58.000,2025-10-05 13:52:58.000,2025-10-05 00:00:00.000,1
5590157,555557,c64aff25-7b0e-439f-bc25-07a50fd181ff,149230,EPSAS,NaN,2,Error al recuperar la informaci√É¬≥n,2025-10-05 13:53:51.000,2025-10-05 13:53:51.000,2025-10-05 00:00:00.000,5
5590158,555558,c912c171-44ef-476f-98fe-7f49ef005709,196293,SEMAPA,NaN,2,Problema de sincronizaci√É¬≥n con el servidor,2025-10-05 14:11:40.000,2025-10-05 14:11:40.000,2025-10-05 00:00:00.000,1
5590159,555559,c912c171-44ef-476f-98fe-7f49ef005709,224207,SEMAPA,NaN,2,Problema de sincronizaci√É¬≥n con el servidor,2025-10-05 14:11:40.000,2025-10-05 14:11:40.000,2025-10-05 00:00:00.000,4
5590160,555555,e6719fed-dbea-4643-ab34-7b4e92061a4a,262563,ELFEC,NaN,2,Interrupci√É¬≥n en el servicio de red,2025-10-13 17:36:10.000,2025-10-13 17:36:10.000,2025-10-13 00:00:00.000,5

In [ ]:
# listar empresas y cantidad de pagos
conteo = df_servicios['servicio'].value_counts().reset_index()
conteo.columns = ['servicio', 'frecuencia']
print(conteo)

     servicio  frecuencia
0        YPFB     1548077
1     DELAPAZ     1505261
2       EPSAS      631473
3         CRE      553359
4       ELFEC      447994
5    SAGUAPAC      224548
6       CESSA      179279
7      ELAPAS       66094
8      SEMAPA       65491
9     Cooplan       57906
10       ENDE       51697
11      SETAR       49933
12       SELA       44470
13     EMAPAV       43870
14    COSAALT       30332
15    COOPLAN       27704
16      SEPSA       22683
17    EMTAGAS       19135
18    COSIMBO       15785
19  ENDE BENI        4721
20      CAPAG         349

In [ ]:
#completar con valor 0 campo codCliente que contienen valores nulos
df_servicios['mensaje'] = df_servicios['mensaje'].fillna(0)
df_servicios[df_servicios.isnull().any(axis=1)]

,√Ø¬ª¬øMonitorId,TransaccionId,CodCliente,servicio,mensaje,estado,respuesta,FechaHoraConsumo,FechaHoraRespuesta,FechaInsercion,intentos
0,608760,4be9d806-6250-45e7-884e-0f55a27e4c34,344112,DELAPAZ,0.0,2,Tiempo de espera agotado en la solicitud,NaN,NaN,2025-03-10 00:00:00.000,5
1,608763,78b0dd07-f672-4415-8fde-dbf4e6c70faf,301375,YPFB,0.0,2,Fallo en la infraestructura tecnol√É¬≥gica,NaN,NaN,2025-03-10 00:00:00.000,1
2,608765,e38d8b88-3533-4cc1-bb9d-0b80bca13f16,475338,CESSA,0.0,2,Ocurrio un problema con la base de datos,NaN,NaN,2025-03-10 00:00:00.000,2
3,643741,4e4d1517-5497-4329-b3a5-97c15a775fa3,237706,DELAPAZ,0.0,2,Tiempo de espera agotado en la solicitud,NaN,NaN,2024-04-23 00:00:00.000,5
4,643755,7fa2b600-ad7c-4822-9a83-059ebee99448,460331,EPSAS,0.0,2,Error al recuperar la informaci√É¬≥n,NaN,NaN,2024-04-23 00:00:00.000,5
5,643745,d15b0953-e998-481c-bd30-a5384a4241d2,407867,DELAPAZ,0.0,2,Tiempo de espera agotado en la solicitud,NaN,NaN,2024-04-23 00:00:00.000,1
6,643750,427a2103-e411-441a-88b3-09d997057339,127649,YPFB,0.0,2,Fallo en la infraestructura tecnol√É¬≥gica,NaN,NaN,2024-04-23 00:00:00.000,4
7,643752,3230bc65-ecff-411a-ade1-c06a2e9b0003,268898,YPFB,0.0,2,Fallo en la infraestructura tecnol√É¬≥gica,NaN,NaN,2024-04-23 00:00:00.000,5

In [ ]:
# Estandarizaci√≥n de datos: Asegurar que los campos de tipo fecha son campos de tipo datetime
df_servicios['fechaHoraPago'] = pd.to_datetime(df_servicios['fechaHoraPago'], errors='coerce')
df_servicios['fechaHoraTrn'] = pd.to_datetime(df_servicios['fechaHoraTrn'], errors='coerce')

KeyError: 'fechaHoraPago'

In [ ]:
df_servicios.shape

(842277, 10)

In [ ]:
df_servicios.rename(columns={'√Ø¬ª¬øid': 'id'}, inplace=True)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import pandas as pd
import numpy as np

# Calculate average hour and day of the week
df_servicios['FechaHoraConsumo'] = pd.to_datetime(df_servicios['FechaHoraConsumo'], errors='coerce')
df_servicios['hora_promedio'] = df_servicios['FechaHoraConsumo'].dt.hour
df_servicios['dia_promedio'] = df_servicios['FechaHoraConsumo'].dt.dayofweek

# Create 'mes' column after converting 'FechaHoraConsumo' to datetime
df_servicios['mes'] = df_servicios['FechaHoraConsumo'].dt.to_period('M')

# Recalculate pagos_mes to include the new features
pagos_mes = df_servicios.groupby(['servicio', 'mes']).agg(
    total_pagos=('√Ø¬ª¬øMonitorId', 'count'),
    tasa_exitos=('estado', lambda x: (x == 1).mean()),
    promedio_intentos=('intentos', 'mean'),
    hora_promedio=('hora_promedio', 'mean'),
    dia_promedio=('dia_promedio', 'mean'),
).reset_index()

# Calculate increment as before
pagos_mes['incremento'] = pagos_mes.groupby('servicio')['total_pagos'].diff().fillna(0)

# Define features and target
y = pagos_mes['incremento']
X = pagos_mes[['total_pagos', 'tasa_exitos', 'promedio_intentos', 'hora_promedio', 'dia_promedio', 'mes']]

# Convert 'mes' to dummy variables
X = pd.get_dummies(X, columns=['mes'], drop_first=True)

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the RandomForestRegressor model
model_rf = RandomForestRegressor(n_estimators=100, random_state=42)
model_rf.fit(X_train, y_train)

# Make predictions
y_pred_rf = model_rf.predict(X_test)

# Evaluate the model
mae_rf = mean_absolute_error(y_test, y_pred_rf)
mse_rf = mean_squared_error(y_test, y_pred_rf)
rmse_rf = np.sqrt(mse_rf)
r2_rf = r2_score(y_test, y_pred_rf)

# Print results
print("üìä Resultados del modelo RandomForestRegressor:")
print(f"MAE (Error Absoluto Medio): {mae_rf:.4f}")
print(f"RMSE (Ra√≠z del Error Cuadr√°tico Medio): {rmse_rf:.4f}")
print(f"R¬≤ (Coeficiente de determinaci√≥n): {r2_rf:.4f}")

üìä Resultados del modelo RandomForestRegressor:
MAE (Error Absoluto Medio): 1458.2231
RMSE (Ra√≠z del Error Cuadr√°tico Medio): 3005.5233
R¬≤ (Coeficiente de determinaci√≥n): 0.7934

In [ ]:
# listar canales y cantidad de pagos
conteo = df_servicios['canal'].value_counts().reset_index()
conteo.columns = ['canal', 'frecuencia']
print(conteo)

KeyError: 'canal'

In [ ]:
#Crear columna de periodo (a√±o-mes)
df_servicios['FechaHoraConsumo'] = pd.to_datetime(df_servicios['FechaHoraConsumo'], errors='coerce')
df_servicios['mes'] = df_servicios['FechaHoraConsumo'].dt.to_period('M')
#Agrupaci√≥n por empresas y mes, m√°s m√©tricas predictorias
pagos_mes = df_servicios.groupby(['servicio', 'mes']).agg(
    total_pagos=('√Ø¬ª¬øMonitorId', 'count'),
    # canales_unicos=('canal', 'nunique'), # The 'canal' column does not exist in this dataframe
    tasa_exitosa=('estado', lambda x: (x == 1).mean()),  # Considerando estado=1 es exitoso
    prome_intentos=('intentos', 'mean'),
    respuestas_unicas=('respuesta', 'nunique')
).reset_index()

print("üìà Hist√≥rico de incremento de pagos por empresa y mes:")
print(pagos_mes)

üìà Hist√≥rico de incremento de pagos por empresa y mes:
    servicio      mes  total_pagos  tasa_exitosa  prome_intentos  \
0      CAPAG  2025-06           34      1.000000        0.000000
1      CAPAG  2025-07           16      1.000000        0.000000
2      CESSA  2024-04         7971      0.996487        0.011291
3      CESSA  2024-05         7770      0.995624        0.012355
4      CESSA  2024-06         7727      0.995600        0.015142
..       ...      ...          ...           ...             ...
269     YPFB  2025-03        96432      0.990314        0.028497
270     YPFB  2025-04       100447      0.995191        0.013778
271     YPFB  2025-05       105115      0.994263        0.017381
272     YPFB  2025-06       112566      0.993799        0.018496
273     YPFB  2025-07        21332      0.983921        0.048191

     respuestas_unicas
0                    1
1                    1
2                    2
3                    2
4                    2
..                 ...
269                  2
270                  2
271                  2
272                  2
273                  2

[274 rows x 6 columns]

In [ ]:
#Calcular incremento mensual por empresa
pagos_mes = pagos_mes.sort_values(by=['servicio', 'mes'])
pagos_mes['incremento'] = pagos_mes.groupby('servicio')['total_pagos'].diff().fillna(0)

#calculo de variable objetivo (incremento) de pagos con respecto al anterior mes
pagos_mes['incremento'] = pagos_mes.groupby('empresa')['total_pagos'].diff()
#Reemplazar valores nulos (primer mes sin comparaci√≥n)
pagos_mes['incremento'] = pagos_mes['incremento'].fillna(0)

In [ ]:
# Agregar columna para indicar tendencia
pagos_mes['tendencia'] = pagos_mes['incremento'].apply(
    lambda x: 'Incremento'
    if x > 0 else ('Disminuci√≥n' if x < 0 else 'Sin cambio')
)

In [ ]:
empresas = pagos_mes['empresa'].unique()
print (empresas)

['EPSAS' 'DELAPAZ' 'CRE' 'SAGUAPAC' 'ELFEC' 'SEMAPA' 'ELAPAS' 'CESSA'
 'Cooplan' 'SETAR' 'ENDE']

In [ ]:
# Mostrar hist√≥rico por empresa
empresas = pagos_mes['servicio'].unique()
for empresa in empresas:
    print(f"\nüìå Hist√≥rico de la empresa: {empresa}")
    df_empresa = pagos_mes[pagos_mes['servicio'] == empresa]
    print(df_empresa[['mes', 'total_pagos', 'incremento', 'tendencia']].to_string(index=False))

KeyError: "Column(s) ['MonitorId'] do not exist"

In [ ]:
#Calcular incremento mensual por empresa
pagos_mes = pagos_mes.sort_values(by=['servicio', 'mes'])
pagos_mes['incremento'] = pagos_mes.groupby('servicio')['total_pagos'].diff().fillna(0)

#Ver resumen general
resumen = pagos_mes.groupby('servicio')['incremento'].sum().reset_index()
print("\nüìä Incremento total acumulado por empresa:")
print(resumen)

üìä Incremento total acumulado por empresa:
     servicio  incremento
0       CAPAG       -18.0
1       CESSA     -5377.0
2     COOPLAN     -3228.0
3     COSAALT       368.0
4     COSIMBO       -10.0
5         CRE      4405.0
6     Cooplan       199.0
7     DELAPAZ    -39666.0
8      ELAPAS      1143.0
9       ELFEC     -5001.0
10     EMAPAV     -1023.0
11    EMTAGAS       254.0
12       ENDE      1060.0
13  ENDE BENI        35.0
14      EPSAS    -17283.0
15   SAGUAPAC     -4915.0
16       SELA       767.0
17     SEMAPA      1164.0
18      SEPSA      -541.0
19      SETAR       700.0
20       YPFB    -39730.0

In [ ]:
pagos_mes['empresa'].unique()
pagos_mes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   empresaId          111 non-null    int64
 1   empresa            111 non-null    object
 2   mes                111 non-null    period[M]
 3   total_pagos        111 non-null    int64
 4   canales_unicos     111 non-null    int64
 5   tasa_exitos        111 non-null    float64
 6   promedio_intentos  111 non-null    float64
 7   respuestas_unicas  111 non-null    int64
 8   incremento         111 non-null    float64
 9   tendencia          111 non-null    object
dtypes: float64(3), int64(4), object(2), period[M](1)
memory usage: 8.8+ KB

In [ ]:
#definir variable objetivo y prodictorias
y = pagos_mes['incremento']
#X = pagos_mes[['empresaId', 'total_pagos', 'canales_unicos', 'tasa_exitos','promedio_intentos', 'respuestas_unicas', 'mes']]
X = pagos_mes[[ 'total_pagos', 'tasa_exitos','promedio_intentos']]

# Convertir variables categ√≥ricas (mes) a dummies
#X = pd.get_dummies(X, columns=['mes'], drop_first=True)

#dividir datos de prueba y entrenamiento
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#ver coheficientes del modelo
print("‚úÖ Dataset enriquecido con √©xito")
print("Dimensiones de X:", X.shape)
print("Variables predictoras:", list(X.columns))

‚úÖ Dataset enriquecido con √©xito
Dimensiones de X: (111, 3)
Variables predictoras: ['total_pagos', 'tasa_exitos', 'promedio_intentos']

In [ ]:
# Crear modelo
modelo = LinearRegression()

# Entrenar modelo con datos de entrenamiento
modelo.fit(X_train, y_train)

#ver coheficientes del modelo
print("Intercepto (Œ≤‚ÇÄ):", modelo.intercept_)
print("Coeficientes (Œ≤):", modelo.coef_)

Intercepto (Œ≤‚ÇÄ): 24385.472795139416
Coeficientes (Œ≤): [ 4.94578093e-01 -2.79412300e+04 -2.94784436e+04]

In [ ]:
# Realizar predicciones sobre el conjunto de prueba
y_pred = modelo.predict(X_test)
# Calcular m√©tricas
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Mostrar resultados
print("üìä Resultados del modelo de regresi√≥n lineal:")
print(f"MAE (Error Absoluto Medio): {mae:.4f}")
print(f"RMSE (Ra√≠z del Error Cuadr√°tico Medio): {rmse:.4f}")
print(f"R¬≤ (Coeficiente de determinaci√≥n): {r2:.4f}")

üìä Resultados del modelo de regresi√≥n lineal:
MAE (Error Absoluto Medio): 7854.9215
RMSE (Ra√≠z del Error Cuadr√°tico Medio): 15958.7136
R¬≤ (Coeficiente de determinaci√≥n): -0.3798